# YouTube API Key
NEXT_PUBLIC_YOUTUBE_API_KEY=votre_api_key_youtube

# Spotify API Credentials
SPOTIFY_CLIENT_ID=votre_client_id_spotify
SPOTIFY_CLIENT_SECRET=votre_client_secret_spotify

# Taddy (podcasts)
TADDY_API_KEY=votre_api_key_taddy
TADDY_USER_ID=votre_user_id_taddy